html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-image: url("skybox.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #61c2ba;
}

@font-face { font-family: illyfonts; src: url('FOTSFONT2.ttf'); } 
body {
    font-family: illyfonts;
}

input { font-family: illyfonts;color: #382919; background-color: #c9d9af; }
textarea { font-family: illyfonts;color: #382919; background-color: #c9d9af;}

p {
  /* font-family: Arial, Helvetica, sans-serif; */
  color: #3c2b1c;
  font-weight: bold;
}

.container {
  width: 100%;
  height: 200%;
  display: flex;
  /* align-items: center; */
  justify-content: center;
}

.square {
  /* position: relative; */
  width: 80vmin;
  box-sizing: border-box;
  margin-top: 150px;
}

/* .square:after {
  content: "";
  padding-bottom: 100%;
} */

.content {
  display: flex;
  flex-direction: column;
}

.logo {
  display: grid;
  justify-content: center;
  width: 50%;
  margin-left: 25%;
}

.video {
  display: grid;
  justify-content: center;
  width: 90%;
  height: 500px;
  margin-left: 5%;
}

.center {
  text-align: center;
}

#webglCanvas {
  image-rendering: pixelated; 
  margin-top: -20%;
  margin-bottom: -20%;
}