html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #c3eecc;
    image-rendering: pixelated;
}

@font-face {
    font-family: illyfonts;
    src: url('FOTSFONT2.ttf');
}

body {
    font-family: illyfonts;
}

p {
    color: #0f0d05;
    font-weight: bold;
    font-size: 27px;
    text-shadow: 2px 4px #38884f;
}

a:link {
    color: #fa8541;
    text-decoration: none;
}
a:visited {
    color: #fa8541;
    text-decoration: none;
}
a:hover {
    color: #efc73a;
    text-decoration: none;
}
a:active {
    color: #efc73a;
    text-decoration: none;
}

.intro {
    background-image: url('branch.png');
    background-size: 100% 100%;
    position: fixed;
    left: -10px;
    top: 70px;
    width: 794px;
    height: 246px;
}

.bottom {
    background-image: url('bushes.png');
    background-size: 100% 100%;
    position: fixed;
    bottom: 0px;
    display: flex;
    width: 616px;
    height: 145px;
    align-items: center;
    justify-content: center;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
  
  .square {
    position: relative;
    width: 80vmin;
    /* border: solid grey 2px; */
    box-sizing: border-box;
  }
  
  .square:after {
    content: "";
    display: block;
    padding-bottom: 100%;
  }
  
  .content {
    position: absolute;
    width: 100%;
    height: 100%;
  }